/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
h1 {
  font-size: 25px;
  margin: 0;
}

h2{
  font-size: 20px;
  margin: 5px 0;
}

body {
  background-color: #EDF060;
  font-family: monospace, Arial;
  text-align: center;
}

button{
  border-radius: 999px;
  height: 25px;
  cursor: pointer;
  color: white;
  background: #225560;
}

.biography {
  margin: 0 90px;
  line-height: 25px;
  text-align: justify;
}

.genre, .name {
  text-align: center;
  margin: 0;
  font-size: 50px;
  margin-top: 20px;

}


.image{
  display: block;
  margin: 10px auto;
}

.genre{
  margin: 0 10px;
  font-size: 20px;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  width: 300px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
